.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    -webkit-animation: blink 0.7s linear infinite;
    animation: blink 0.7s linear infinite;
  }
  @-webkit-keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
  }
  @keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
}
h1 {
    font-size: 105px;
    font-family: sans-serif;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(219deg, 
    var(--color-1) 19%, 
    transparent 19%,transparent 20%, 
    var(--color-2) 20%, var(--color-2)  39%,
    transparent 39%,transparent 40%, 
    var(--color-3) 40%,var(--color-3) 59% ,
    transparent 59%,transparent 60%, 
    var(--color-4) 60%, var(--color-4) 79%,
    transparent 79%, transparent 80%, 
    var(--color-5) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.title {
    margin-top: 40px;
    line-height: 1;
    display: grid;
    place-items: center;  
}
button {
    display: inline-block;
    width: 250px;
    height: 80px;
    font-size: 80%;
    color: rgba(255,255,255,.9);
    text-shadow: #2e7ebd 0 1px 2px;
    text-decoration: none;
    text-align: center;
    line-height: 1.1;
    white-space: pre-line;
    padding: 5px;
    border: 1px solid;
    border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
    border-radius: 6px;
    outline: none;
    background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
    box-shadow: inset rgba(255,255,255,.5) 1px 1px;
    margin-top: 10px;
}
button:first-line{
    font-size: 170%;
    font-weight: 700;
  }
button:hover {
    color: rgb(255,255,255);
    background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
  }
button:active {
    color: rgb(255,255,255);
    border-color: #2970a9;
    background-image: linear-gradient(#5796c8, #6aa2ce);
    box-shadow: none;
}
span {
    font-size: 22px;
    color: rgba(128, 128, 128, 0.704);
}
